<?xml version="1.0"?>
<robot name="tecdron"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tecdron_base">
    <!--xacro:include filename="$(find robot_description)/urdf/base/tecdron_base.gazebo.xacro" /-->
    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_width" value="0.175" />
    <xacro:property name="wheel_radius" value="0.127" />

    <!-- BASE FOOTPRINT-->
    <link name="base_footprint">
      <inertial>
        <mass value="1.0" />
        <origin xyz="0 0 0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </visual>

    </link>
    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint> 
  
  <!-- BASE_LINK -->
  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
        <mesh filename="package://robot_description/meshes/base/tecdron_base.dae"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="10" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1.5417" ixy="0" ixz="0" iyy="3.467" iyz="0" izz="4.742" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base/tecdron_base.dae"/>
      </geometry>
    </visual>
  </link>

  </xacro:macro>
</robot>

